<%- include('partials/adminHeader.ejs') %>

    <div class="container-fluid tab-name ">
        <h3 class="p-3 ">Users Management&GreaterGreater;</h3>
    </div>
    <div class="details mx-5 border-bottom border-3">
        <div class="tab-hea  border-bottom border-2 my-3">
            <h3>Users Details</h3>
        </div>
        <div class="search-option my-3 border-bottom">
            <div class="search px-2 py-1 m-3 d-flex " style="width: fit-content;background-color: #111111;">
                <input type="text" id="search" placeholder="Search.." class="search-admin"
                    style="border: none;background-color: #111111;width: 15vw;">
                <button type="submit" style="border: none;background: transparent;max-width: fit-content;"
                    onclick="searchUser()"><img src="/images/icons8-search-30.png" alt="" height="20"
                        style="filter: invert(1);"></button>
            </div>
        </div>
        <div class="tab  my-5">
            <table class="table text-center">
                <thead class="fs-4 " style="position: sticky;top: 0;">
                    <tr>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Option</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Name</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Email</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Phone Number</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Orders</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Wallet</th>
                    </tr>
                </thead>
                <tbody>
                    <% usersList.forEach(user => { %>
                        <% if (!user.blocked) { %>
                            <tr class="data-row ">
                                <td><button class="btn btn-dark p-1" onclick="confirms(event,blockUser('<%= user._id %>'))">Block User</button></td>
                                <td><%= user.first_name %>_<%= user.last_name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.mobile_number %></td>
                                <td><%= user.orders.length%></td>
                                <td><%= user.wallet.balance %></td>
                            </tr>
                        <% } %>
                    <% }) %>

                </tbody>
            </table>
        </div>
    </div>
    <div class="blocked-user m-5 col-6" style="border: none;background-color: #F3F2EE;">
        <div class="tab-hea  border-bottom border-2 my-3">
            <h3>Blocked Users</h3>
        </div>
        <div class="tab px-3" >
            <table class="table ">
                <tbody>

                    <% usersList.forEach(user => { %>
                        <% if (user.blocked) { %>
                            <tr class="data-row ">
                                <td><%= user.first_name %>_<%= user.last_name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.mobile_number %></td>
                                <td><button class="btn btn-dark p-1" onclick="confirms(event,unblockUser('<%= user._id %>'))">UnBlock User</button></td>
                            </tr>
                        <% } %>
                    <% }) %>

                </tbody>
            </table>
        </div>
    </div>

    <%- include('partials/adminFooter.ejs') %>