<%- include('partials/adminHeader.ejs') %>


    <div class="container-fluid tab-name ">
        <h3 class="p-3 ">Orders Management&GreaterGreater;</h3>
    </div>
    <div class="details mx-5 border-bottom border-3" id="#products-details">
        <div class="tab-hea  border-bottom border-2 my-3">
            <h3>Orders Details</h3>
        </div>
        <div class="tab  my-5">
            <table class="table ">
                <thead class="fs-4 " style="position: sticky;top: 0;">
                    <tr>
                        <th scope="col" colspan="2" style="font-weight: 500;background-color: #E5E5E5;">Product Details
                        </th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Consumer</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Ordered</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Quantity</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Price</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Status</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Option</th>
                    </tr>
                </thead>
                <tbody>

                    <% orderList.forEach(order=> { %>

                        <tr class="data-row ">

                            <td id="prd_image">
                                <img src="<%= order.prd_images[0] %>" alt="" style="max-width: 50px; max-height: 50px;">
                            </td>
                            <td>
                                <%= order.prd_name %>
                            </td>
                            <td>
                                <%= order.user %>
                            </td>
                            <td>
                                <%= order.date.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= order.qty %>
                            </td>
                            <td>
                                <%= order.amount %>
                            </td>
                            <td>
                                <select name="status" class="ea-input status-select" data-order-id="<%= order._id %>">
                                    <option value="delivery-period" <%=order.status==='delivery-period' ? 'selected'
                                        : '' %>>Delivery Period</option>
                                    <option value="return-period" <%=order.status==='return-period' ? 'selected' : '' %>
                                        >Return Period</option>
                                    <option value="closed" <%=order.status==='closed' ? 'selected' : '' %>>Order Closed
                                    </option>
                                </select>
                            </td>
                            <td>
                                <% if (order.status=="delivery-period" ) { %>
                                    <button class="btn btn-dark text-warning"
                                        onclick="cancelOrderAsAdmin('<%= order._id %>')">Cancel</button>
                                        <% } else if (order.returned) { %>
                                            <button class="btn btn-dark text-warning"
                                            onclick="refundPayment('<%= order._id %>')">Refund</button>
                                    <% } %>
                            </td>
                        </tr>
                        <% }) %>





                </tbody>
            </table>
        </div>
    </div>


    <%- include('partials/adminFooter.ejs') %>