<%- include('partials/adminHeader.ejs') %>


    <div class="container-fluid tab-name ">
        <h3 class="p-3 ">Orders Management&GreaterGreater;</h3>
    </div>
    <div class="details mx-5 border-bottom border-3" id="#products-details">
        <div class="tab-hea  border-bottom border-2 my-3">
            <h3>Orders Details</h3>
        </div>
        <div class="search-option my-3 border-bottom">
            <div class="search px-2 py-1 m-3 d-flex " style="width: fit-content;background-color: #111111;">
                <input type="text" id="search" placeholder="Search.." class="search-admin"
                    style="border: none;background-color: #111111;width: 15vw;">
                <button type="submit" style="border: none;background: transparent;max-width: fit-content;"
                    onclick="searchOrder()"><img src="/images/icons8-search-30.png" alt="" height="20"
                        style="filter: invert(1);"></button>
            </div>
        </div>
        <div class="tab  my-5">
            <table class="table ">
                <thead class="fs-4 " style="position: sticky;top: 0;">
                    <tr>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Order ID</th>
                        <th scope="col" colspan="2" style="font-weight: 500;background-color: #E5E5E5;">Product Details
                        </th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Consumer</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Ordered</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Quantity</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Price</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Status</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Option</th>
                    </tr>
                </thead>
                <tbody>

                    <% orderList.forEach(order=> { %>
                        <% if (order.status=="canceled" ) { %>
                            <tr class="data-row ">

                                <td class="bg-warning">
                                    <%= order._id %>
                                </td>
                                <td id="prd_image" class="bg-warning">
                                    <img src="<%= order.prd_images[0] %>" alt=""
                                        style="max-width: 50px; max-height: 50px;">
                                </td>
                                <td class="bg-warning">
                                    <%= order.prd_name %>
                                </td>
                                <td class="bg-warning">
                                    <%= order.user %>
                                </td>
                                <td class="bg-warning">
                                    <%= order.date.toLocaleDateString() %>
                                </td>
                                <td class="bg-warning">
                                    <%= order.qty %>
                                </td>
                                <td class="bg-warning">
                                    <%= order.amount %>
                                </td>
                                <td class="bg-warning">
                                    <select name="status " class="ea-input status-select bg-warning"
                                        data-order-id="<%= order._id %>">
                                        <option>Order Canceled</option>
                                    </select>
                                </td>
                                <td class="bg-warning">

                                </td>
                            </tr>
                            <% } else { %>
                                <tr class="data-row ">

                                    <td>
                                        <%= order._id %>
                                    </td>
                                    <td id="prd_image">
                                        <img src="<%= order.prd_images[0] %>" alt=""
                                            style="max-width: 50px; max-height: 50px;">
                                    </td>
                                    <td>
                                        <%= order.prd_name %>
                                    </td>
                                    <td>
                                        <%= order.user %>
                                    </td>
                                    <td>
                                        <%= order.date.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= order.qty %>
                                    </td>
                                    <td>
                                        <%= order.amount %>
                                    </td>
                                    <td>
                                        <select name="status" class="ea-input status-select"
                                            data-order-id="<%= order._id %>">
                                            <option value="delivery-period" <%=order.status==='delivery-period'
                                                ? 'selected' : '' %>>Delivery Period</option>
                                            <option value="return-period" <%=order.status==='return-period' ? 'selected'
                                                : '' %>
                                                >Return Period</option>
                                            <option value="closed" <%=order.status==='closed' ? 'selected' : '' %>>Order
                                                Closed
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <% if (order.status=="delivery-period" ) { %>
                                            <button class="btn btn-dark text-warning"
                                                onclick="confirms(event,function(){cancelOrderAsAdmin('<%= order._id %>')})">Cancel</button>
                                            <% } else if (order.returned) { %>
                                                <button class="btn btn-dark text-warning"
                                                    value="<%= JSON.stringify(order) %>"
                                                    onclick="refundPayment(event.target.value)">Refund</button>
                                                <% } %>
                                    </td>
                                </tr>
                                <% } %>

                                    <% }) %>





                </tbody>
            </table>
        </div>
    </div>


    <%- include('partials/adminFooter.ejs') %>