<%- include('partials/userHeader.ejs') %>


    <div class="container-fluid tab-name">
        <h3 class="p-3 ">Check Out&GreaterGreater;</h3>
    </div>
    <div class="row m-5">
        <div class="col-md-8 d-flex row justify-content-center">
            <div class="exist-address-box  bg-secondary text-light rounded p-4 "
                style="height: fit-content;width: fit-content ;">
                <p class="fs-5 text-center my-2 text-decoration-underline">Your Addresses</p>
                <% if (userDetails.address.length) { %>
                    <% userDetails.address.forEach(address=> { %>
                        <div class="each-address d-flex   text-truncate">
                            <button class="btn btn-dark mb-2" value="<%= JSON.stringify(address) %>"
                                onclick="selectAddress(event.target.value)">Select</button>
                            <p class="px-2 ">
                                <%= address.locality %>,
                                    <%= address.city %>,
                                        <%= address.district %>,
                                            <%= address.state %>,
                                                <%= address.country %>,
                                                    <%=address.altr_number %>,
                                                        <%= address.postcode %>,
                            </p>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <div class="each-address d-flex justify-content-center text-truncate">
                                    <p class="px-2 text-warning">No Address Details Saved</p>
                                </div>
                                <% } %>



            </div>
            <div class="address-tab col-md-11 border rounded p-2 shadow-lg" style="height: fit-content;">

                <form action="/user/confirm-order" onsubmit="event.preventDefault();  confirmOrder()" method="post"
                    id="checkoutForm">

                    <div class="local_address col mx-2">
                        <label for="local_address" class="form-label">Address</label><br>
                        <textarea id="local_address" class="form-input" name="local_address" id="local_address" rows="4"
                            style="resize: none;"></textarea>
                    </div>

                    <div class="my-3 d-flex">
                        <div class="Country col mx-2">
                            <label for="Country" class="form-label">Country</label>
                            <input type="text" class="form-input" id="country" name="country">
                        </div>
                        <div class="city col mx-2">
                            <label for="city" class="form-label">Town/City</label>
                            <input type="text" class="form-input" id="city" name="city">
                        </div>

                    </div>
                    <div class="my-3 d-flex">
                        <div class="District col mx-2">
                            <label for="District" class="form-label">District</label>
                            <input type="text" class="form-input" id="district" name="district">
                        </div>
                        <div class="State col mx-2">
                            <label for="State" class="form-label">State</label>
                            <input type="text" class="form-input" id="state" name="state">
                        </div>

                    </div>
                    <div class="my-3 d-flex ">
                        <div class="postcode col mx-2">
                            <label for="postcode" class="form-label">Postcode/ZIP</label>
                            <input type="text" class="form-input" id="postcode" name="postcode">
                        </div>
                        <div class="altr_number col mx-2">
                            <label for="altr_number" class="form-label">Alternative Number</label>
                            <input type="text" class="form-input" id="altr_number" name="altr_number">
                        </div>

                    </div>

            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="checkout-proceed px-4 py-3" style="background-color: #F3F2EE;">
                <p class="fs-5 fw-bold text-center border-bottom border-3">Proceed Checkout</p>
                <div class="products-tab border-bottom border-3" style="max-height: 170px; overflow-y: auto;">
                    <ol class="fs-6">
                        <li class="d-flex justify-content-between fw-medium sticky-top bg-light">
                            <label for="">Products</label>
                            <i>Total</i>
                        </li>
                        <% if (productDetails.length) { %>
                        <% productDetails.forEach(prd => { %>
                        <li class="d-flex justify-content-between">
                            <span class="text-truncate" style="max-width: 10vw;">
                                <%= prd.prd_name %>
                                <%= prd.unit_prize %>
                            </span>
                            <i class="mx-2">₹<%= prd.unit_prize %>/-</i>
                            <i class="fw-medium">₹<%= prd.total_prize %>/-</i>
                        </li>
                        <input type="hidden" name="prd_id" id="prd_id" value="<%= prd.prd_id %>">
                        <input type="hidden" name="qty" id="qty" value="<%= prd.qty %>">
                        <input type="hidden" name="stock" id="stock" value="<%= prd.stock %>">
                        <input type="hidden" name="total_price" id="total_price" value="<%= prd.total_prize %>">
                        <% }) %>
                        <% } else if (productDetails) { %>
                        <li class="d-flex justify-content-between">
                            <span>
                                <%= productDetails.prd_name %>
                            </span>
                            <i>
                                <%= Math.floor(productDetails.mrp - ((productDetails.mrp * productDetails.discount) / 100)) %>
                            </i>
                        </li>
                        <input type="hidden" name="prd_id" id="prd_id" value="<%= productDetails._id %>">
                        <input type="hidden" name="qty" id="qty" value="1">
                        <input type="hidden" name="stock" id="stock" value="<%= productDetails.stock %>">
                        <input type="hidden" name="total_price" id="total_price"
                            value="<%= Math.floor(productDetails.mrp - ((productDetails.mrp * productDetails.discount) / 100)) %>">
                        <% } %>
                    </ol>
                </div>
                <div class="pay-methods border border-3 p-3 mt-2 rounded">
                    <p class="fs-5">Payment Methods</p>
                    <div class="cod d-flex align-items-center">
                        <input type="radio" name="pay_methods" id="cod" style="height: 20px; width: 20px; margin-right: 5px;"
                            value="cod">
                        <label for="cod">Cash on Delivery</label>
                    </div>
                    <div class="razor d-flex align-items-center">
                        <input type="radio" name="pay_methods" id="razorpay" style="height: 20px; width: 20px; margin-right: 5px;"
                            value="razor_pay">
                        <label for="razorpay">Online Payment</label>
                    </div>
                </div>
                <div class="checkout-details">
                    <!-- Add Coupon Feature -->
                    <div class="add-coupon mt-4 bg-secondary d-flex align-items-center justify-content-between px-2"
                        id="couponDiv">
                        <input type="text" name="coupon" id="coupon"
                            class="bg-transparent border-0 px-3 py-2" placeholder="Add Coupon"
                            style="outline: none; color: #F3F2EE;">
                        <button class="bg-transparent border-0 fs-5 text-light" type="button"
                            onclick="verifyCoupon()">+ Verify</button>
                    </div>
                    <label for="coupon_code" id="coupon_code" class="text-success fw-medium"></label>
        
                    <!-- Wallet Use Feature -->
                    <div class="wallet-option d-flex justify-content-between align-items-center fs-5 border-bottom border-3"
                        id="walletDiv">
                        <div class="labels d-flex align-items-center">
                            <input type="checkbox" name="wallet_balance" id="wallet_balance"
                                style="height: 20px; width: 20px;" onchange="walletBalance()">
                            <label for="wallet_balance">Use Wallet Balance:</label>
                        </div>
                        <i id="balance" data-balance="<%= userDetails.wallet.balance %>">₹
                            <%= userDetails.wallet.balance %>/-</i>
                    </div>
                    <div class="grand-total d-flex justify-content-between fs-5">
                        <label>Grand Total:</label>
                        <% if (productDetails.length) { %>
                        <% let grandtotal = 0 %>
                        <% productDetails.forEach(prd => { %>
                        <% grandtotal += (prd.mrp * prd.qty) %>
                        <% }) %>
                        <i><s>₹ <%= grandtotal %> /-</s></i>
                        <% } else if (productDetails) { %>
                        <i><s>₹ <%= productDetails.mrp %> /-</s></i>
                        <% } %>
                    </div>
                    <div class="saved d-flex justify-content-end text-danger">
                        <label>Saved </label> &nbsp;
                        <% if (productDetails.length) { %>
                        <% let actualprize = 0 %>
                        <% let grandtotal = 0 %>
                        <% productDetails.forEach(prd => { %>
                        <% actualprize += (prd.unit_prize * prd.qty) %>
                        <% grandtotal += (prd.mrp * prd.qty) %>
                        <% }) %>
                        <p class="fw-bold"><i>₹<%= (grandtotal - actualprize) %>/-</i></p>
                        <% } else if (productDetails) { %>
                        <p>₹ <%= Math.floor((productDetails.mrp * productDetails.discount) / 100) %> /-</p>
                        <% } %>
                    </div>
                    <div class="couponApply d-flex justify-content-between" id="couponApply">
                        <i>Coupon Applied : </i><b id="couponCodeDisplay" class="text-danger"></b>
                    </div>
                    <div class="rate d-flex justify-content-between align-items-center">
                        <label>Amount to be Paid:</label>
                        <% if (productDetails.length) { %>
                        <% let actualprize = 0 %>
                        <% productDetails.forEach(prd => { %>
                        <% actualprize += (prd.unit_prize * prd.qty) %>
                        <% }) %>
                        <p class="text-danger fw-bold fs-5"><i id="amountDisplay">₹<%= actualprize %>/-</i></p>
                        <input type="hidden" name="amount" id="amount" value="<%= actualprize %>">
                        <% } else if (productDetails) { %>
                        <input type="hidden" name="amount" id="amount"
                            value="<%= Math.floor(productDetails.mrp - ((productDetails.mrp * productDetails.discount) / 100)) %>">
                        <p class="text-danger fw-bold fs-5" id="amountDisplay">₹
                            <%= Math.floor(productDetails.mrp - ((productDetails.mrp * productDetails.discount) / 100)) %>
                            /-</p>
                        <% } %>
                    </div>
                </div>
                <div class="error fs-6 m-3 p-2 bg-secondary text-center" >
                    <i class="text-warning">
                        Choose <b>Online Payment</b> to experience wallet and coupons you have!
                    </i>
                </div>
                <div class="text-center">
                    <button class="btn btn-dark px-4 my-3 rounded-0 fs-5" type="submit">Confirm Order</button>
                </div>
            </form>
            </div>
            <div class="razor-secure text-center mt-3">
                <img src="/images/razerpay.png" alt="" height="30"><br>
                <i>Guaranteed Safe Checkout</i>
            </div>
        </div>
        
    </div>

    <%- include('partials/userFooter.ejs') %>