<%- include('partials/adminHeader.ejs') %>


    <div class="container-fluid tab-name d-flex align-items-center justify-content-between">
        <h3 class="p-3 ">Dashboard &GreaterGreater;</h3>
        <div class="col-12 logout " style="max-width: fit-content;padding-right: 5rem;">
            <a href="/admin/logout" class="login btn btn-dark text-danger ">logout</a>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-between">
        
    </div>
    <div class="dashboard row m-5">
        <div class="text-center">
            <h2 class="btn btn-dark fs-5" style="width: fit-content;">Admin Analysis Charts of Sales</h2>

        </div>
        <div class="row d-flex justify-content-center p-2" style="background-color: #F3F2EE;">
            <div class="mainGraphbar col-md-9">
                <div class="  m-3 rounded ">
                    <div class="head">
                        <h4>Monthly Sales</h4>
                    </div>
                    <div class="border p-3" style="background-color: #ffffff;">
                        <canvas id="monthlyGraph"></canvas>
                        <input type="hidden" name="monthlySales" id="monthlySales"
                            value="<%= JSON.stringify(monthSales) %>">
                    </div>
                </div>
            </div>
            <div class="analyst col-md-3 ">
                <div class="card m-3  border-success" style="width: 22em;">
                    <div class="card-header px-3 fs-5 fw-medium text-light" style="background-color: #504e4e;">Analysis
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-3 fw-medium">Total Number of Users : <%= amountOfUsers %>
                        </li>
                        <li class="list-group-item px-3 fw-medium">Total Number of Users Blocked : <%=
                                amountOfBlockedUsers %>
                        </li>
                        <li class="list-group-item px-3 fw-medium">Total Number of Orders : <%= amountOfOrders %>
                        </li>
                        <li class="list-group-item px-3 fw-medium">Total Number of Orders Canceled : <%=
                                amountOfCanceledOrders %>
                        </li>

                    </ul>
                </div>
                <div class="border p-3" style="background-color: #ffffff;">
                    <canvas id="monthlyGraphPie"></canvas>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 p-2 m-3 rounded" style="background-color: #F3F2EE;">
                <div class="head">
                    <h4>Categories Sales</h4>
                </div>
                <div class="border p-3" style="background-color: #ffffff;">
                    <canvas id="mainGraph"></canvas>

                    <input type="hidden" name="categories" id="categories"
                        value="<%= JSON.stringify(categoriesList) %>">

                    <input type="hidden" name="categories" id="categoriesSales"
                        value="<%= JSON.stringify(categoriesSales) %>">


                </div>
            </div>
            <div class="col-md-3 p-2 m-3 rounded" style="background-color: #F3F2EE;">
                <div class="head">
                    <h4>Payment Type Sales</h4>
                </div>

                <div class="border p-3 text-center" style="background-color: #ffffff;">
                    <canvas id="paymentGraph"></canvas>

                    <input type="hidden" name="paymentTypeSales" id="paymentTypeSales"
                        value="<%= JSON.stringify(paymentTypeSales) %>">

                </div>
            </div>
        </div>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const mainCtx = document.getElementById('mainGraph');
        const monthlyCtx = document.getElementById('monthlyGraph');
        const paymentCtx = document.getElementById('paymentGraph');
        const monthlyPieCtx = document.getElementById('monthlyGraphPie');

        let categories = []
        let categorySales = []

        let categoriesListValue = document.getElementById('categories').value;
        let categoriesArray = JSON.parse(categoriesListValue);
        let categoriesSalesListValue = document.getElementById('categoriesSales').value;
        let categoriesSalesArray = JSON.parse(categoriesSalesListValue);



        for (let i = 0; i < categoriesArray.length; i++) {
            for (let j = 0; j < categoriesSalesArray.length; j++) {
                if (categoriesSalesArray[j]._id == categoriesArray[i]._id) {
                    categorySales[i] = categoriesSalesArray[j].total
                    break
                }
            }
            if (!categorySales[i]) {
                categorySales[i] = 0
            }
            categories.push(categoriesArray[i].name.toUpperCase());
        };



        new Chart(mainCtx, {
            type: 'bar',
            data: {
                labels: categories,
                datasets: [{
                    label: `Sales of Category`,
                    data: categorySales,
                    borderWidth: 1,
                    backgroundColor: "#5EBA7D"
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        ////////////////////////////////////////////////////////////////////////////////////////////////
        let monthlySales = document.getElementById('monthlySales').value;
        let monthlySalesArray = JSON.parse(monthlySales);
        let monthlySalesAmount = []
        for (let i = 0; i <= 12; i++) {
            for (let j = 0; j < monthlySalesArray.length; j++) {
                if ((monthlySalesArray[j].month - 1) == i) {
                    monthlySalesAmount[i] = monthlySalesArray[j].monthlySales
                    break
                }
            }
            if (!monthlySalesAmount[i]) {
                monthlySalesAmount[i] = 0
            }
        }
        console.log(monthlySalesAmount)
        new Chart(monthlyCtx, {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: `Sales of Month on ${monthlySalesArray[0].year}`,
                    data: monthlySalesAmount,
                    borderWidth: 1,
                    backgroundColor: "#5EBA7D"
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        new Chart(monthlyPieCtx, {
            type: 'doughnut', // Change the chart type to 'doughnut'
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: `Sales of Month on ${monthlySalesArray[0].year}`,
                    data: monthlySalesAmount,
                    borderWidth: 1,
                    backgroundColor: ["#E6E6FA", "#FF5733", "#8A2BE2","#FF6384", "#9966FF", "#FF9F40", "#36A2EB",  "#77DD77","#5EBA7D", "#FFCE56", "#4BC0C0", "#FFD700", ], // Add colors for each segment
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        //////////////////////////////////////////////////////////////////////////////////////////////////
        let paymentGraph = document.getElementById('paymentTypeSales').value;
        let paymentSalesArray = JSON.parse(paymentGraph);
        new Chart(paymentCtx, {
            type: 'doughnut', // Changed the chart type to 'doughnut'
            data: {
                labels: ['Online Payment', 'Cash On Delivery'],
                datasets: [{
                    label: `Sales of Payment Types`,
                    data: [paymentSalesArray[0].paymentMethodSales, paymentSalesArray[1].paymentMethodSales],
                    borderWidth: 1,
                    backgroundColor: ["#5EBA7D", "#D3D3D3"],
                }]
            },
            options: {
                cutout: '60%',
            }
        });
    </script>
    <%- include('partials/adminFooter.ejs') %>