<%- include('partials/userHeader.ejs') %>


    <div class="container-fluid tab-name ">
        <h3 class="p-3 ">My Orders&GreaterGreater;</h3>
    </div>
    <div class="details mx-5 border-bottom border-3" id="#products-details">
        <div class="tab-hea  border-bottom border-2 my-3">
            <h3>Orders History</h3>
        </div>
        <div class="tab  my-5">
            <table class="table ">
                <thead class="fs-4 " style="position: sticky;top: 0;">
                    <tr>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Status</th>
                        <th scope="col" colspan="2" style="font-weight: 500;background-color: #E5E5E5;">Product Details
                        </th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Ordered</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Quantity</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Price</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Rating</th>
                        <th scope="col" style="font-weight: 500;background-color: #E5E5E5;">Option</th>
                    </tr>
                </thead>
                <tbody>

                    <% orderDetails.forEach(order=> { %>

                        <tr class="data-row ">
                            <td>

                                <% if (order.status=="delivery-period" ) { %>
                                    <b class="text-warning">Delivery Soon </b><br>
                                    <small><i>Within 7 days after Order</i></small>
                                    <% } else if (order.status=="canceled" ) { %>
                                        Canceled Order
                                        <% } else if (order.returned) { %>
                                            Order Returned
                                            <% } else { %>
                                                Delivered
                                                <% } %>
                            </td>
                            <td id="prd_image">
                                <a href="/user/products/product-details/<%= order.prd_id %>">

                                    <img src="<%= order.prd_images[0] %>" alt=""
                                        style="max-width: 50px; max-height: 50px;">
                                </a>
                            </td>
                            <td>
                                <%= order.prd_name %>
                            </td>
                            <td>
                                <%= order.date.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= order.qty %>
                            </td>
                            <td>
                                <%= order.amount %>
                            </td>
                            <td>
                                <a href="/user/products/product-details/<%= order.prd_id %>" class="text-dark">Review &
                                    Rating</a>
                            </td>
                            <td>
                                <% if (order.status=="delivery-period" ) { %>
                                    <button class="btn btn-dark text-warning"
                                        onclick="confirmsUser(event,function(){cancelOrder('<%= order._id %>')})">Cancel</button>
                                    <% } else if (order.status=="return-period" ) { %>
                                        <% if (!order.returned) { %>
                                            <button class="btn btn-dark text-warning"
                                                onclick="confirmsUser(event,function(){returnOrder('<%= order._id %>')})">Return</button>
                                            <% } %>
                                                <% } %>
                            </td>
                        </tr>
                        <% }) %>





                </tbody>
            </table>
        </div>
    </div>

    <%- include('partials/userFooter.ejs') %>